.label {
	display: flex;
	flex-direction: column;
	gap: 6px;
	width: 100%;

	.name {
		font-size: 1.4rem;
		font-weight: 500;
		order: -1;
	}

	.input {
		background-color: var(--color-dark);
		color: var(--color-white);
		padding: 12px;
		border-radius: 10px;
		font-weight: 500;
		caret-color: var(--color-yellow);
		box-shadow: var(--shadow25);

		&:focus + .name {
			color: var(--color-yellow);
		}
	}
}
