.button {
	display: flex;
	align-items: center;
	gap: 6px;
	border-radius: 20px;
	font-weight: 600;
	box-shadow: var(--shadow25);
}

/* Color Variant */
.button.primary {
	background-color: var(--color-yellow);
	color: var(--color-white);
}
.button.secondary {
	background-color: var(--color-dark-gray);
	color: var(--color-yellow);
}

/* Button Size */
.button.small {
	padding: 6.6px 16px;
	font-size: 1.4rem;
}
.button.normal {
	padding: 8px 24px;
	font-size: 1.6rem;
}
