.button {
	border-radius: 60px;
	font-weight: bold;
	box-shadow: var(--shadow25);
	padding: 12px 24px;
	font-size: 1.6rem;
}

.primary {
	background-color: var(--color-yellow);
	color: var(--color-white);
}
.secondary {
	background-color: var(--color-dark);
	color: var(--color-yellow);
}
