.projectContainer {
	display: flex;
	width: 100%;

	.details {
		display: flex;
		flex-direction: column;
		gap: 18px;
		font-size: 1.8rem;
		font-weight: 300;
		width: 100%;

		.name,
		.description {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 12px;
			width: 100%;
			/* background-color: var(--color-gray25);
			padding: 8px 12px;
			border-radius: 20px; */

			strong {
				font-weight: 600;
			}

			div {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

.controllersContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex-grow: 1;

	.controller {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
		width: 100%;
		background-color: var(--color-gray25);
		padding: 8px 12px;
		border-radius: 20px;

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4px;
			font-size: 1.6rem;
			font-weight: 400;

			.icon {
				font-size: 2rem;
			}
		}
	}
}

.hazardsContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex-grow: 1;

	.hazard {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
		width: 100%;
		background-color: var(--color-gray25);
		padding: 8px 12px;
		border-radius: 20px;

		span {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 4px;
			font-size: 1.6rem;
			font-weight: 400;
		}
	}
}
