.projects_container {
	display: flex;
	padding: 2.4rem 0;
	gap: 2.4rem;

	/* ! Até ter o slider */
	flex-wrap: wrap;
}

@media (max-width: 743px) {
	.projects_container {
		justify-content: center;
	}
}
