.overlay {
	display: flex;
	align-items: center;
	background-color: #00000055;
	position: fixed;
	inset: 0;
	z-index: 2;
}

.modal_container {
	min-width: 200px;
	width: 90%;
	background-color: var(--color-gray);
	border-radius: var(--radius2);
	box-shadow: var(--shadow25);
	padding: 2.4rem;
	margin: 0 auto;
	border: none;
	z-index: 3;

	max-height: 95vh;
	overflow-y: auto;

	&::-webkit-scrollbar-thumb {
		border-radius: 1rem;
	}
}
.modal_container.normal {
	max-width: 520px;
}
.modal_container.large {
	max-width: 1024px;
}
