.overlay {
	display: flex;
	align-items: center;
	background-color: #00000055;
	position: fixed;
	inset: 0;
	z-index: 2;
}

.modal_container {
	width: clamp(200px, 90%, 520px);
	background-color: var(--color-gray);
	border-radius: var(--radius2);
	box-shadow: var(--shadow25);
	margin: 0 auto;
	padding: 2.6rem;
	border: none;
	height: 300px;
}
