.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 16px 0;
	box-shadow: var(--shadow25);

	.container {
		display: flex;
		justify-content: space-between;
		width: var(--full-content-size);
		text-shadow: var(--shadow25);
		margin: 0 16px;
	}

	.logo {
		a {
			color: var(--color-yellow);
		}
		font-size: 2.4rem;
		font-weight: bold;
	}

	.links {
		display: flex;
		align-items: center;
		gap: 18px;
		font-size: 1.8rem;
		font-weight: 300;
	}
}
