.values {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	font-size: 1.4rem;
	font-weight: 300;

	.value {
		display: flex;
		align-items: center;
		gap: 2px;
		background-color: var(--color-dark);
		padding: 4px 8px;
		border-radius: 8px;

		button {
			display: flex;
			align-items: center;
			background: none;
			font-size: 1.6rem;
			color: var(--color-yellow);
		}
	}
}
