.project_container {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	font-size: 1.8rem;
	font-weight: 300;

	.name,
	.description {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1.2rem;

		/* TODO: Perguntar sobre colocar ou não  */
		/* background-color: var(--color-gray25);
		padding: 0.8rem 1.2rem;
		border-radius: var(--radius1); */

		.text {
			display: flex;
			flex-direction: column;

			strong {
				font-weight: 500;
			}
		}
	}
}
